services:
  - type: web
    name: portfolio
    runtime: node
    plan: free
    region: frankfurt
    buildCommand: npm install --include=dev && npm run build
    startCommand: npm run db:push && npm run start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        fromDatabase:
          name: portfolio-db
          property: connectionString
      - key: SESSION_SECRET
        generateValue: true
      - key: ADMIN_USERNAME
        sync: false
      - key: ADMIN_PASSWORD
        sync: false

databases:
  - name: portfolio-db
    plan: free
    region: frankfurt
    databaseName: portfolio
    user: portfolio_user
